<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <!-- added the image here for testing -->
                <img src="img/berrien.png" alt="Photo if Misha Berrien" height="40%" width="40%" style="margin-bottom: 1.3em">
                <p class="text-faded">My interests lie at the intersection of data science and public policy. My goal is to ensure that public sector organizations are able to take advantage of the data science techniques that are now so common in private sector companies. I am currently completing a fully-funded Data Science Fellowship at the Flatiron School in Washington D.C. My blog focuses on personal projects, machine learning and data visualizations.</p>
                <p class="text-faded"></p>
                <a href="http://linkedin.com/in/misha-berrien" target=_blank class="btn btn-default btn-xl">linkedin</a>
            </div>
        </div>
    </div>
</section>
