<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <!-- added the image here for testing -->
                <img src="img/berrien.png" alt="Photo if Misha Berrien" height="40%" width="40%" style="margin-bottom: 1.3em">
                <p class="text-faded">My interests lie at the intersection of data science and public policy. I am interested in ensuring that public sector organizations are able to take advantage of the data science techniques that are now so common in private sector companies. I recently graduated from the University of Chicago Harris School of Public Policy with a Masters in Public Policy focused on data analytics. I am currently completing a fully-funded Data Science Fellowship at the Flatiron School in Washington D.C.</p>
                <p class="text-faded">Previously, my worked focused on Chinese language, culture and politics. For six years I studied and worked in Beijing, China. I first studied advanced Mandarin Chinese at Beijing Normal University, and later worked as a writer and editor at a television station. In my last position, I managed the study abroad program at the University of Chicago Center in Beijing.</p>
                <p class="text-faded">I currently reside in Chicago, IL. For more information on my education and past positions please check out my Linkedin account.</p>
                <a href="http://linkedin.com/in/misha-berrien" target=_blank class="btn btn-default btn-xl">linkedin</a>
            </div>
        </div>
    </div>
</section>
