<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <!-- added the image here for testing -->
                <img src="img/berrien.png" alt="Photo of Markisha Berrien-Fitzsimons" height="40%" width="40%" style="margin-bottom: 1.3em">
                <p class="text-faded">I'm a Data Engineer at Research Improving People's Lives (RIPL). Currently,
                  my interests are at the intersection of data science and social good. My goal is to help
                  public sector and nonprofit organizations utilize the prediction and analysis techniques that are now so
                  ubiquitous in private sector companies. </p>
                <p class="text-faded">Previously, my work focused on Chinese language and culture. For six years I studied and worked in Beijing,
                  China. I first studied advanced Mandarin Chinese at Beijing Normal University, and later worked as a writer and editor at a television station.
                  In my last position, I managed several study abroad programs at the University of Chicago Center in Beijing.</p>
                <p class="text-faded">Technologies: Python | R | SQL | Git | Command Line</p>
            </div>
        </div>
    </div>
</section>
